{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card p-4">
                <h4 class="mb-3 text-center">View Submitted Form</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ url_for('main.upload', filename=form.id) }}" data-toggle="lightbox" data-caption="{{ form.first_name }}">
	                        <img src="{{ url_for('main.upload', filename=form.id) }}" class="img-fluid" width="500px" height="500px">
                        </a>
                    </li>
                    <li class="list-group-item"><strong>First Name:</strong> {{ form.first_name }}</li>
                    <li class="list-group-item"><strong>Middle Name:</strong> {{ form.middle_name if form.middle_name else ''}}</li>
                    <li class="list-group-item"><strong>Last Name:</strong> {{ form.last_name }}</li>
                    <li class="list-group-item"><strong>Gender:</strong> {{ form.gender }}</li>
                    <li class="list-group-item"><strong>Eye Color:</strong> {{ form.eye_color }}</li>
                    <li class="list-group-item"><strong>Hair Color:</strong> {{ form.hair_color }}</li>
                    <li class="list-group-item"><strong>Address:</strong> {{ form.address }}</li>
                    <li class="list-group-item"><strong>Date of Birth:</strong> {{ form.date_of_birth.strftime('%Y-%m-%d') }}</li>
                    <li class="list-group-item"><strong>Height (in cm):</strong> {{ form.height }}</li>
                    <li class="list-group-item"><strong>Weight (in kg):</strong> {{ form.weight }}</li>
                    <li class="list-group-item"><strong>Submitted At:</strong> {{ moment(form.submitted_at).format('LLLL') }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}